Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
a = "hello"
l = [2,3,4, "sand", 3+4j, 33.33]
f = 35.657
t = (20, "sandeep", 35.56, [30, 40, 60])

In [2]:
type(a)

str

In [3]:
type(l)

list

In [4]:
type(f)

float

In [5]:
type(t)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [6]:
var1 = 'sandeep'
var2 = '[DS, ML, Python]'
var3 = ['DS', 'ML', 'Python']
var4 = l

In [7]:
type(var1)

str

In [8]:
type(var2)

str

In [9]:
type(var3)

list

In [10]:
type(var4)

list

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [11]:
a = 4
b = 2
c = a/b

In [12]:
c

2.0

In [13]:
d = 4
e = 5
f = d%e

In [14]:
f

4

In [15]:
g = 4
h = 5
i = g//h

In [17]:
i

0

In [18]:
j = 2
k = 3
l = j**k

In [19]:
l

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [20]:
list = ['sandeep', 2, 89.0, 53, 67, "hello", True, ("apple", "banana", "cherry")]
for i in list:
    print(type(i))
    print(i)

<class 'str'>
sandeep
<class 'int'>
2
<class 'float'>
89.0
<class 'int'>
53
<class 'int'>
67
<class 'str'>
hello
<class 'bool'>
True
<class 'tuple'>
('apple', 'banana', 'cherry')

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [21]:
A = 8
B = 4
count = 0
while A % B == 0:
    count += 1
    A = A / B
if count > 0:
    print(count)

1

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [22]:
list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
n = 3
a = [i for i in list if i % 3 == 0]
print(a)

[3, 6, 9, 12, 15, 18, 21, 24]

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [23]:
## mutable means = the value of some objects can change. objects whose value can change said to be mtable;

list_value = [1, 2, 3]
set_value = (10, 20, 30)
print(list_value[0])
print(set_value[0])

1
10

In [24]:
## immutable means = immutable datatypes are objects that cannot be modified or altered after thay have been created
## (for example , by adding new elements, removing elements, or replacing elements)

a = 9
b = 90.8
c = b/a
print(a)
print(b)
print(c)

9
90.8
10.088888888888889